<footer>
<section>
<div class="ft-container">

    <div class="ft-block">
        <div class="ft-title">
            <h4>Shows</h4>
        </div>
            <ul class="ft-shows">
                <li><a href="#">New York</a></li>
                <li><a href="">London</a></li>
                <li><a href="">Mexico</a></li>
                <li><a href="">Ireland</a></li>

            </ul>
        </div>


        <div class="ft-block">
        <div class="ft-title">
            <h4>News</h4>
        </div>
            <ul class="number_list">
                <li><a href="#"><span>1 </span>Latest News</a></li>
                <li><a href="#"><span>2 </span>Latest News</a></li>
                <li><a href="#"><span>3 </span>Latest News</a></li>
                <li><a href="#"><span>4 </span>Latest News</a></li>

            </ul>
        </div>


            

        <div class="ft-block-shows">
        <div class="ft-title">
            <h4>Blog</h4>
        </div>
           <div class="blog-item">
            <div class="ft-image"><img scr="#" alt="blog image"></div>
                <div class="blog-content">
                    <p>Blog Here</p>
                    <a href="#">Continue Reading</a>
                </div>
            </div>
            <div class="blog-item">
            <div class="ft-image"><img scr="#" alt="blog image"></div>
                <div class="blog-content">
                    <p>Blog Here</p>
                    <a href="#">Continue Reading</a>
                </div>
            </div>
        </div>

            <div class="ft-block-shows">
            <div class="ft-title">
            <h4>Contact</h4>
            </div>
                <div class="ft-contact">
                <p><span>A:</span> 2088 Madison Ave, NY</p>
                <p><span>P:</span> 212-989-0300</p>
                <p><span>E:</span> music@musico.com</p>
                </div>
        </div>
         
            
</div>


</footer>



</section>
  