

<header class="header-section">
    <div class="header-wrap">
        <!----Logo----->
        <a href="#home" class="logo">
            <img src="#" alt="logo of company">
        </a>
      
        <ul class="nav-bar">
            <li> <a href="/">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Settings</a></li>

        </ul>

        <div class="nav-signin">
            <a href="/login">Log In</a>
            <a href="/signup">Sign Up</a>
            <a href="#">Sign Out</a>
        </div>


    </div>

</header>

