

<header class="header-section">
    <div class="header-wrap">
        <!----Logo----->
        <a href="#home" class="logo">
            <img src="#" alt="logo of company">
        </a>
      
        <ul class="nav-bar">
                <li> <a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
            <% if session[:user_id] %>
                <li><a href="/settings">Settings</a></li>
            <% end %>
                <li> <a href="/">About</a></li>
        </ul>

        <div class="nav-signin">
            <% if session[:user_id]  %>

            <% else %>
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
            <% end %>
            <% if session[:user_id] %>
                <a href="/logout">Sign Out</a>
            <% end %>
        </div>


    </div>

</header>

