<h1 style="background: black;">Post your blog</h1>

<h1><%= @blog.title =></h1>

<p><%= @blog.content =></p>





<form  class ="blog-form" method="POST" action="users/blog">
<div class="blog-title">
<input class ="title-bar" type="text" name="title" placeholder="Title">
</div>
<div class="blog-content">
<br>
<textarea class="content-bar" rows="8" cols="80" type="text" name="content" placeholder="Post content here.."></textarea>
</div>
<input type="submit" value="Post">
</form>