
 <!-----------BODY BACKGROUND------>
 <section class="bg-section set-bg">
     <div class="container">
         <div class="body-row">
             <div class="col-md-2 col-sm-4 genre">
                 <img scr="#" alt="Music">
                 <p>Hip Hop</p>
             </div>

             <div class="col-md-2 col-sm-4 genre">
                 <img scr="#" alt="Music">
                 <p>Pop</p>
             </div>

             <div class="col-md-2 col-sm-4 genre">
                 <img scr="#" alt="Music">
                 <p>Edm</p>
             </div>

             <div class="col-md-2 col-sm-4 genre">
                 <img scr="#" alt="Music">
                 <p>Rock</p>
             </div>

         </div>

     </div>
     <div class="glide">
         <div class="glide__track" data-glide-el="track">
             <ul class="glide__slides">
                 <li class="glide__slide"><span>Up Next</span>
                     <p>In 2018, Streaming Services Helped Fuel A New Latin Explosion</p>
                 </li>
                 <li class="glide__slide"><span>Up Next</span>
                     <p>'Hip-Hop Deserves That Respect': Honoring The Notorious B.I.G., Wu-Tang Clan In NYC</p>
                 </li>
                 <li class="glide__slide"><span>Up Next</span>
                 <p>Kendrick Lamar, Brandi Carlile Among Top Nominees For 2019 Grammys</p>
             </li>
             <li class="glide__slide"><span>Up Next</span>
                 <p>Rapper Sues Video Game Maker Over Fortnite Dance Move</p>
             </li>
             </ul>
         </div>
         <div class="glide-button glide__arrows" data-glide-el="controls">
             <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
             <button class="glide__arrow glide__arrow--right" data-glide-dir=">">Next</button>
         </div>

     </div>


     </div>

 </section>


    
