<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Carson Used Car Lot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">
  <link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.theme.min.css">
  <link rel="stylesheet" href="main.css">
</head>
<body>

<%=erb :"partials/header"%>

<main>

<%=yield%>
</main>

<%= erb :"partials/footer"%>


<script src="node_modules/@glidejs/glide/dist/glide.min.js"></script>

<script>
new Glide('.glide').mount()
</script>

<script src="/main.js"></script>
</body>
</html>