
<form class="login-form" method="POST" action="users/login">

    <div class="signup-block">
        <div class="login-email">
            <h2>Email</h2><br>
            <input class="signup_bar" type="text" name="email" placeholder="Email"/>
        </div>

        <div class="login-password">
            <h2>Password</h2><br>
            <input class="signup_bar" type="password" name="password" placeholder="Password"/>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>