<h1 style="background: black;"> Where to delete your account</h1>

<div>
<form method="POST" action="/settings/erase/">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Account">
</form>
</div>